.app.dark {
    --bg-color: #303030;
    --bg-inverted-color: #d7d7d7;

    --primary-color: #d2d2d2;
    --secondary-color: #707070;
    --accent-color: #ffbb00;
    --accent-inverted-color: #7b00ff;
}